<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soojin.mypet_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPet_Application">
        <activity android:name=".Ham7Activity"></activity>
        <activity android:name=".Ham6Activity" />
        <activity android:name=".Ham5Activity" />
        <activity android:name=".HAm4Activity" />
        <activity android:name=".Ham3Activity" />
        <activity android:name=".Ham2Activity" />
        <activity android:name=".Ham1Activity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>